body {
  font-family: 'Vollkorn', serif;
  margin: 0;
  padding: 0;
  color: #104f1d;
}
.container {
  background-image: url(./images/pexels-skitterphoto-3768.jpg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.title {
  text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
}


.label {

  text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
}
.input {
  margin-left: 10px;
  margin-right: 5px;
  font-family: 'Vollkorn', serif;
  border-radius: 5px;
  padding: 6px 20px;
  padding-left: 9px;
  border: 2px solid black;
}


.button {
  display: inline-block;
  padding: 4px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 2px solid black;
  color: #104f1d;
  background-color: #ffffff;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  font-family: 'Vollkorn', serif;
}

.button:hover {
  background-color: #104f1d;;
  color: #ffffff;
  border-color: #ffffff;
}

.results--title {
  text-shadow: -1px 0px 17px rgba(0, 0, 0, 0.5);
}

.results--temperature {
  text-shadow: 0px 1px 14px rgba(0, 0, 0, 0.5);
}
